<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" hfer="¨{% static 'css/style1.css' %}" media="screen,projection">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Registrar proveedor</title>
</head>
<body>
    <section class="form-register">
    <h1>Registrar nuevo proveedor</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="nombre">nombre:</label>
            <input class='form-control' type="text" id="nombre" name="nombre">
        </div>

        <div class="mb-3">
            <label for="apellido">apellido:</label>
            <input class='form-control' type="text" id="apellido" name="apellido">
        </div>

        <div class="mb-3">
            <label class="form-label" for="dni">DNI:</label>
            <input class='form-control' type="number" id="dni" name="dni">
        </div>

        <div class="mb-3">
            <label class="form-label" for="provincia">Provincia:</label>
            <input class='form-control' type="text" id="provincia" name="provincia">
        </div>

        <button class="btn btn-primary" type="submit" value="Agregar">Agregar proveedor</button>
    </form>
    <a href="{% url 'mostrarprov' %}">Cancel</a>
</section>
</body>
</html>